# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
coverage
generated

# Node dependencies
node_modules
package-lock.json

# Bun dependecies
bun.lockb
bun.lock

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Database
*.db
*.sqlite3
*.sqlite
*.db-journal 