@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

* {
    @apply p-0 m-0 box-border antialiased;
}

body {
    @apply bg-white font-Roboto;
}

h1 {
    @apply text-2xl font-medium text-gray-900;
}

.input-field {
    @apply w-full py-2 px-4 border border-light-500 bg-white placeholder:text-light-500 focus:ring-0 focus:border-primary;
}

.invalid {
    @apply border-red-500 !important;
}

.input-field:disabled {
    @apply bg-light-500 placeholder:text-primary;
}

.section-content {
    @apply px-4 md:px-8 lg:px-16 mx-auto max-w-screen-lg;
}

.table {
    @apply w-full border-collapse table-auto border-gray-500 text-sm;
}

.table th,
.table td {
    @apply px-1 py-2 border-b border-light-500 border-opacity-40 overflow-hidden;
}

.table th {
    @apply text-left border-t font-medium uppercase;
}

.btn {
    @apply py-2 px-9 text-white font-medium disabled:cursor-not-allowed disabled:bg-opacity-50;
}

.btn-secondary {
    @apply btn bg-secondary-500;
}

.btn-light {
    @apply btn bg-light-500;
}

.input-number::-webkit-inner-spin-button {
    display: none;
}

.input-number {
    @apply appearance-none w-full py-2 px-3 leading-tight overflow-hidden focus:ring-0 focus:border-secondary-600 border-0 border-b border-light-500 disabled:cursor-not-allowed disabled:bg-slate-200;
}
.input-number:invalid {
    @apply border-red-500 border;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #f0f1f3;
    border-radius: 0.8rem;
}
.menu-shadow {
    box-shadow: 2px -2px 8px rgba(0, 0, 0, 0.05);
}
